{{>header}}
<script type="text/javascript">
  
function openDialog(id) 
{
$('#addImg'+id).click();
}


function submitImg(id) {
$('#addImgForm{{@index}}'+id).submit();
}

</script>
<link rel="stylesheet" type="text/css" href="/css/admin.css">

  <body>
  <div class="container" id="mainContent">

  <div class="exit_btn"> <a href = "/logout" class="btn btn-primary btn-lg btn-block">Выход</a></div>
  <div class = "bord"></div>
{{#each carts}}

<div class = "order">
  <div class=order_details>
  
      <div class="presonal_details">
      <div class="order_title">Клиент</div>
           <div class = "order_id">Номер заказа: {{this._id}} </div>
           <div class = "order_id"> Время заказа: 
                 <div class = "order_id" id="time{{@index}}">
                  
                 </div>
           </div>
           <div class = "order_id">Имя: {{_order.name}}</div>
           <div class = "order_id">Телефон: {{_order.phone}}</div>
           <div class = "order_id">E-Mail: {{_order.email}}</div>
           <div class = "order_id">Адрес: {{_order.address}}</div>
           <div class = "order_id" >Сумма заказа: {{_order.total}} ₽</div>
           <div class = "order_id">Статус: {{_order.status}}</div>
       </div>     
            
             <script>
                   var d = new Date({{_order.date}});
                    document.getElementById("time"+{{@index}}).innerHTML = d;
                   </script> 
            
              
            <div class="items_table_cont">
            <div class="order_title">Заказ</div>
                <table class="items_table">
                <tr>
                <td>Наименование</td>
                <td>Цена</td>
                <td>Количество</td>
                </tr>
                {{#each cart}}
                <tr>
                <td>{{this.title}}</td>
                <td>{{this.price}}</td>
                <td>{{this.quantity}}</td>
                </tr>
                {{/each}}
                </table>
             </div> 

            
            
           <div class="remove_btn"> <a href = "/deleteOrder/{{this._id}}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i>  Удалить заказ</a></div>
            <div class = "bord"></div>
            </div>
         </div>   

{{/each}}




{{#each items}}
<div class = "items">
              <div class="itm_details">
              <div calss="itm_details_text">ID: {{_id}} </div>
            <div calss="itm_details_text">Наименование: {{title}} </div>
            <div calss="itm_details_text">Цена: {{price}} ₽ </div>
              
              {{#each image_name}}
                      
         <div style="position:relative;display: inline-block;">    
          <img src=/item_img/{{this}} height="150px">
          <div style="position:absolute;left:0;top:0;">
        <a href = "/deletePhoto/{{this}}" class="btn btn-danger" width="100%"><i class="fa fa-trash" aria-hidden="true"></i></a>
        {{#if @index}}<a href = "/moveUp/{{this}}" class="btn btn-primary" width="100%"><i class="fa fa-arrow-up" aria-hidden="true"></i></i></a>{{/if}}
  </div>


</div>




              {{/each}}
<div class="addImg_btn btn btn-success" id="addImg_btn{{@index}}" onclick="openDialog({{@index}})"><i class="fa fa-plus-square" aria-hidden="true"></i></a></div>              



<div class="remove_item_btn"><a href = "/deleteItem/{{_id}}" class ="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Удалить товар</a></div>



<form action = "/addImage/{{_id}}" method="post" enctype="multipart/form-data" style="display: none" id="addImgForm{{@index}}">
  <input type="file" onchange="submitImg({{@index}})" name="image_up" id="addImg{{@index}}" multiple>
</form>



              </div>
              
              </div>



{{/each}}

<div class = "bord"></div>




<form action = "/addShopItem" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="exampleInputEmail1">Наименование</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Топовая футболка" name="title">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Цена</label>
    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="1990" name="price">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">Фотографии </label>
    <input type="file"  name="image_up" multiple>
  </div>
  <button type="submit" class="btn btn-default">Добавить</button>
</form>
<div class = "bord"></div>





</div>


{{>footer}}

