
    {{>header}}
    

    <!--*****************************THUMBNAIL*****************************-->
<div class="cont" onload="loadPage()">
    <div class="container" id="mainContent">
        {{#each this}} {{#if this._id}}
        <div class="col-sm-6 col-md-6">
            <div class="shop-item thumbnail">
                <div id="carousel-{{_id}}" class="carousel slide" data-ride="carousel">


                    <!-- Wrapper for slides -->

                    <div class="carousel-inner" role="listbox">
                        {{#each image_name}}
                        <div class="item item{{@index}}">
                            <div class="item_image" style="background-image: url('/item_img/{{this}}');"></div>
                            <!--  <img src="/item_img/{{this}}" alt="...">-->

                            <div class="carousel-caption">
                            </div>
                        </div>
                        {{/each}}



                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-{{_id}}" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-{{_id}}" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="caption shelfItem container-fluid " onclick="void(0)">
                    <div class="item_name">{{title}}</div>
                    <div class="item_price price col-md-6 col-sm-12 col-xs-12">{{price}} <i class="fa fa-rub" aria-hidden="true"></i></div>
                    <div class="add_to_cart col-md-6 col-sm-12 col-xs-12 hover" onmouseover="mouseOver1()" onmouseout="mouseOut1()" onclick="addItem(this);"><i class="fa fa-cart-plus" aria-hidden="true"></i>  В корзину</div>


                    <input class="item_category" value="{{_id}}">
                    
                

                   <!-- <div href="" onclick="addItem(this)" class="btn btn-primary col-md-6" role="button"><i class="fa fa-cart-plus" aria-hidden="true"></i></div>-->             


                </div>

            </div>
        </div>

        {{/if}} {{/each}}

    </div>
</div>      

    <!--*****************************FOOTER*****************************-->
    {{>footer}}
    <script>$(document).ready(function(){$( "#nav_item1" ).addClass( "active" );}) </script>
    